:root {
  --c-blue-900: oklch(38.448% 0.12541 254.942);
  --c-blue-700: oklch(49.442% 0.13369 254.037);
  --c-blue-400: oklch(70.492% 0.13873 228.852);

  --c-white: oklch(1 0 0);
  --c-light-grey: oklch(97.015% 0.00011 271.152);
  --c-black: oklch(0 0 0);

  --color-bg: var(--c-white);
  --color-text: var(--wp--preset--color--blue-700);

  /* swiper colors */

  --swiper-theme-color: var(--c-white);
}
